# Development environment variables
NODE_ENV="" #development | production
APP_ORIGIN="http://localhost:5173"
API_PORT=3001
FORTY_TWO_REDIRECT_URI="http://localhost:5173/api/auth/42/callback"

# 42 API credentials
UID="u-s...."
Secret="s-s...."
Next_secre="s-sf...."
REDIRECT_URI="https://api.intra.42.fr/oauth/authorize?client_id=u-s....&redirect_uri=https&response_type=code"

# Supabase credentials
NEXT_PUBLIC_SUPABASESUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASESUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASESUPABASE_URL=""
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
NEXT_PUBLIC_SUPABASESUPABASE_ANON_KEY=""
SUPABASE_JWT_SECRET=""
NEXT_PUBLIC_SUPABASESUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
# 42 API restrictions
FORTY_TWO_ALLOWED_KINDS=admin,student,external
FORTY_TWO_ALLOW_POOLERS=no
FORTY_TWO_ALLOWED_CAMPUS_IDS=75,55,16,21 # 75 -> Rabat |  55 -> Tetouan | 16 -> Khouribga | Bengrir -> 21
